* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    color: blue;

}

footer {
    width: 100%;
    background-color: #26272b;
}

.section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 15px;
}

.about {
    width: 40%;
}

.section1 h2 {
    font-size: 20px;
    color: lightgray;
    text-transform: uppercase;
}

.about p {
    text-align: justify;
    color: grey;
    line-height: 25px;
    margin-top: 10px;
}

.section1 ul {
    list-style: none;
}

.section1 ul li {
    padding: 4px;
}

a {
    text-decoration: none;
    color: gray;
}

a:hover {
    color: orange;
}

span {
    margin-left: 10px;
    color: grey;
}

i {
    color: grey;
    font-size: 20px;
}

.section2 {
    display: flex;
    justify-content: center;
    padding: 25px;
    align-items: center;
}

.section2 h2 {
    color: gray;
    font-size: 25px;
    padding: 0px;
}

.section2 a {
    display: inline-block;
    padding: 10px 25px;
    color: white;
    background-color: red;
    margin-left: 10px;
    border-radius: 20px;
    font-size: 24px;
}

.section2 a:hover {
    background-color: orange;
}

.section3 {
    display: flex;
    justify-content: center;
    padding: 12px;
}

.section3 ul {
    list-style: none;
    margin: 20px;
}

.section3 ul li {
    display: inline-block;
    width: 60px;
    height: 60px;
    padding: 20px;
    background-color: #424242;
    border-radius: 50%;
    margin-right: 20px;
}

.section3 ul li i {
    color: white;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
}

.section3 ul li:nth-child(1):hover {
    background-color: #3b5999;
}

.section3 ul li:nth-child(2):hover {
    background-color: #55acee;
}

.section3 ul li:nth-child(3):hover {
    background-color: #dd4b39;
}

.section3 ul li:nth-child(4):hover {
    background-color: #007785;
}

.section3 ul li:nth-child(5):hover {
    background-color: #ea4c89;
}

.section4 {
    display: flex;
    justify-content: center;
    background-color: black;
    padding: 30px;
}

.section4 p {
    color: grey;
    position: relative;
}

.section4 p::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    position: absolute;
    right: 0;
    bottom: -10px;
    background-color: yellow;
    transition: all .4s;
}

.section4 p:hover::after {
    width: 100%;
}

hr {
    opacity: 0.2;
}

@media (max-width: 856px) {
    .content {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        font-weight: bold;
        color: blue;
    }

    footer {
        width: 100%;
        background-color: #26272b;
    }

    .section1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 30px 15px;
    }

    .about {
        width: 100%;
        margin-bottom: 20px;
    }

    .section1 h2 {
        font-size: 15px;
        color: lightgray;
        text-transform: uppercase;
    }

    .about p {
        text-align: justify;
        color: grey;
        line-height: 25px;
        margin-top: 10px;
    }

    .section1 ul {
        list-style: none;
    }

    .section1 ul li {
        padding: 4px;
    }

    a {
        text-decoration: none;
        color: gray;
    }

    a:hover {
        color: orange;
    }

    span {
        margin-left: 10px;
        color: gray;
    }

    i {
        color: grey;
        font-size: 20px;
    }

    .section2 {
        display: flex;
        justify-content: center;
        padding: 20px;
        align-items: center;
    }

    .section2 p {
        color: gray;
        font-size: 24px;
        padding: 0px;
    }

    .section2 a {
        display: inline-block;
        padding: 10px 25px;
        color: white;
        background-color: red;
        margin-left: 10px;
        border-radius: 20px;
        font-size: 22px;
    }

    .section2 a:hover {
        background-color: orange;
    }

    .section3 {
        display: flex;
        justify-content: center;
        padding: 18px;
    }

    .section3 ul {
        list-style: none;
        margin: 20px;
    }

    .section3 ul li {
        display: inline-block;
        width: 60px;
        height: 60px;
        padding: 20px;
        background-color: #424242;
        border-radius: 50%;
        margin-right: 15px;
    }

    .section3 ul li i {
        color: white;
        font-size: 24px;
        line-height: 20px;
        text-align: center;
    }

    .section3 ul li:nth-child(1):hover {
        background-color: #3b5999;
    }

    .section3 ul li:nth-child(2):hover {
        background-color: #55acee;
    }

    .section3 ul li:nth-child(3):hover {
        background-color: #dd4b39;
    }

    .section3 ul li:nth-child(4):hover {
        background-color: #007785;
    }

    .section3 ul li:nth-child(5):hover {
        background-color: #ea4c89;
    }

    .section4 {
        display: flex;
        justify-content: center;
        background-color: black;
        padding: 30px;
    }

    .section4 p {
        color: grey;
        position: relative;
    }

    .section4 p::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        position: absolute;
        right: 0;
        bottom: -10px;
        background-color: yellow;
        transition: all .3s;
    }

    .section4 p:hover::after {
        width: 100%;
    }

    hr {
        opacity: 0.2;
    }
}

@media (max-width: 499px) {
    .content {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        font-weight: bold;
        color: blue;
    }

    footer {
        width: 100%;
        background-color: #26272b;
    }

    .section1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px 15px;
    }

    .about {
        width: 100%;
        margin-bottom: 20px;
    }

    .section1 h2 {
        font-size: 18px;
        color: lightgray;
        text-transform: uppercase;
        margin-top: 20px;
    }

    .about p {
        text-align: justify;
        color: grey;
        line-height: 24px;
        margin-top: 10px;
    }

    .section1 ul {
        list-style: none;
    }

    .section1 ul li {
        padding: 4px;
    }

    a {
        text-decoration: none;
        color: gray;
    }

    a:hover {
        color: orange;
    }

    span {
        margin-left: 10px;
        color: gray;
    }

    i {
        color: grey;
        font-size: 20px;
    }

    .section2 {
        display: flex;
        justify-content: center;
        padding: 20px;
        align-items: center;
    }

    .section2 p {
        color: gray;
        font-size: 24px;
        padding: 0px;
    }

    .section2 a {
        display: inline-block;
        padding: 10px 25px;
        color: white;
        background-color: red;
        margin-left: 10px;
        border-radius: 20px;
        font-size: 22px;
    }

    .section2 a:hover {
        background-color: orange;
    }

    .section3 {
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .section3 ul {
        list-style: none;
        margin: 20px;
    }

    .section3 ul li {
        display: inline-block;
        width: 40px;
        height: 40px;
        padding: 10px;
        background-color: #424242;
        border-radius: 50%;
        margin-right: 10px;
    }

    .section3 ul li i {
        color: white;
        font-size: 24px;
        line-height: 20px;
        text-align: center;
    }

    .section3 ul li:nth-child(1):hover {
        background-color: #3b5999;
    }

    .section3 ul li:nth-child(2):hover {
        background-color: #55acee;
    }

    .section3 ul li:nth-child(3):hover {
        background-color: #dd4b39;
    }

    .section3 ul li:nth-child(4):hover {
        background-color: #007785;
    }

    .section3 ul li:nth-child(5):hover {
        background-color: #ea4c89;
    }

    .section4 {
        display: flex;
        justify-content: center;
        background-color: black;
        padding: 30px;
    }

    .section4 p {
        color: grey;
        position: relative;
    }

    .section4 p::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        position: absolute;
        right: 0;
        bottom: -10px;
        background-color: yellow;
        transition: all .3s;
    }

    .section4 p:hover::after {
        width: 100%;
    }

    hr {
        opacity: 0.2;
    }
}
